blajh

<h1>The station nearest to your desired location</h1>

<p>Station name: <%= @fuel_station.name %></p>
<p>Address: <%= @fuel_station.address %></p>
<p>Fuel type: <%= @fuel_station.fuel_type %></p>
<p>Access times: <%= @fuel_station.access_times %></p>